@font-face
	font-family 'ruble'
	src url('../fonts/ruble/ruble-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ruble/ruble-webfont.woff') format('woff'), url('../fonts/ruble/ruble-webfont.ttf') format('truetype')
