/**
 * Переменные проекта
 *
 * Использование (например):
 * .body
 *   font-size: $map-fs.base
 */

/**
 * Размеры экранов
 */
$map-media = {
	'default' : 0,
	'xxxs'    : 320px,
	'xxs'     : 460px,
	'xs'      : 600px,
	'md'      : 768px,
	'lg'      : 992px,
	'desk'    : 1100px,
	'retina'  : 2200px
}

/**
 * Семейство шрифтов
 */
$CalibriSerif = 'Calibri', sans-serif

$map-ff = {
	base : $CalibriSerif
}

/**
 * Размеры шрифтов
 */
$map-fs = {
	base : 16px
}

/**
 * Межстрочный интервал
 */
$map-lh = {
	base : 1.4
}

/**
 * Цвета
 */
$black = #000

$map-color = {
	base : $black,
}
